body {
  margin: 0;
 /* background-color: #DAD2E3;*/
  margin-right: 0px;
}

#nav-bar {
  width: 1370px;
  height: 85px;
  top: 0px;
  background:#43464b;
  position: fixed;
  z-index: 2;
  animation-name: fadeIn;
  animation-duration: 1.3s;
  animation-timing-function: ease-in;
}

.tab{
  display: inline-block;
  padding: 30px;
  border-radius: 20%;
  font-weight: bold;
  font-family: "Bodoni MT";
  font-size: 20px;
  float: right;
  color: #FDDCD7;
}

.tab:hover {
  cursor: pointer;
  animation-name: superbounce;
  animation-duration: .5s;
  animation-iteration-count: infinite;
}


.jlogo {
  padding: 20px;
  float: left;
}

.jlogo:hover{
  animation-name: fadeIn;
  animation-duration: 1.5s;
  cursor: pointer;
}

/* content stuff */

.maintitle{
  font-family: "Bodoni MT";
  font-weight: bold;
  font-style: italic;
  font-size: 25px;
}

#title{
  position: absolute;
  left: 100px;
  top:140px;
  animation-name: slideDown;
  animation-duration: 1.7s;
  animation-timing-function: ease-in;
}

.ball{
  position: absolute;
  left: 340px;
  top: 290px;
}

.ball:hover{
  cursor: pointer;
  animation-name: superbounce;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.laptop {
  position: absolute;
  left: 180px;
  top: 280px;
}

.laptop:hover{
  cursor: pointer;
  animation-name: superbounce;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.earth {
  position: absolute;
  left: 260px;
  top: 280px;
}

.earth:hover{
  cursor: pointer;
  animation-name: superbounce;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.korea {
  position: absolute;
  left: 100px;
  top: 280px;
}

.korea:hover{
  cursor: pointer;
  animation-name: superbounce;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.starter{
  position: absolute;
  top: 400px;
  left: 100px;
  font-family: "Bodoni MT";
  font-size: 20px;
  color: #b76e79;
  font-weight: bold;
  animation-name: fadeIn;
  animation-duration: 1.8s;
  animation-fill-mode: forwards;
  animation-delay: 1.6s;
  opacity: 0;
}

.aboutme {
  position: absolute;
  top: 400px;
  left: 100px;
  font-family: "Bodoni MT";
  font-size: 20px;
  color: #b76e79;
  font-weight: bold;
  display: none;
}

.study {
  position: absolute;
  top: 400px;
  left: 100px;
  font-family: "Bodoni MT";
  font-size: 20px;
  color: #b76e79;
  font-weight: bold;
  display: none;
}

.care {
  position: absolute;
  top: 400px;
  left: 100px;
  font-family: "Bodoni MT";
  font-size: 20px;
  color: #b76e79;
  font-weight: bold;
  display: none;
}

.sport{
  position: absolute;
  top: 400px;
  left: 100px;
  font-family: "Bodoni MT";
  font-size: 20px;
  color: #b76e79;
  font-weight: bold;
  display: none;
}

.starterimage {
  position: absolute;
  left: 670px;
  top: 85px;
  opacity: .75;
  animation-name: fadeInopacity;
  animation-duration: 1.8s;
  animation-fill-mode: forwards;
  animation-delay: 1.6s;
  opacity: 0;
}

.aboutmeimage {
  position: absolute;
  left: 670px;
  top:85px;
  display: none;
  opacity: .75;
}

.careimage {
  position: absolute;
  left: 670px;
  top:85px;
  display: none;
  opacity: .75;
}

.studyimage {
  position: absolute;
  left: 770px;
  top: 85px;
  display: none;
  opacity: .75;
}

.sportimage {
  position: absolute;
  left: 670px;
  top: 85px;
  display: none;
  opacity: .75;
}

// dropdown menu for mobile only

.dropbtn {
  background-color:#43464b;
  color: #FDDCD7;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: absolute;
  left: 100px;
  top: 50px;
  display: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #6699cc;
  min-width: 80px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #6699cc;}

// end mobile only stuff

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeInopacity {
  from {opacity: 0;}
  to {opacity: .75;}
}

@keyframes superbounce {
  0%   { transform: translateY(0px); }
    10%   { transform: translateY(2px); }
    20%  { transform: translateY(4px); }
    30%  { transform: translateY(6px); }
    40%  { transform: translateY(8px); }
    50%  { transform: translateY(10px); }
    60% { transform: translateY(8px); }
    70%   { transform: translateY(6px); }
    80%  { transform: translateY(4px); }
    90%  { transform: translateY(2px); }
    100% { transform: translateY(0px); }
}

@keyframes slideDown {
	0% {
		transform: translateY(-100%);
    opacity: 0;
	}
	50%{
		transform: translateY(8%);
    opacity: .2;
	}
	65%{
		transform: translateY(-4%);
	}
	80%{
		transform: translateY(4%);
	}
	95%{
		transform: translateY(-2%);
	}
	100% {
		transform: translateY(0%);
	}
}

@media only screen and (max-width: 768px){
  #nav-bar {
    width: 440px;
    height: 55px;
  }
  .jlogo img{
    position: absolute;
    top: 12px;
    left: 6px;
    height:28px;
  }
  .tab {
    font-size: 6px;
    padding: 1px;
    padding-right: 40px;
    padding-top: 25px;
    visibility: hidden;
  }
  #title{
    position: absolute;
    top: 70px;
    left: 30px;
  }
  .maintitle{
    font-size: 10px;
  }
  .korea img{
    height: 30px;
    position: absolute;
    left: -70px;
    top: -150px;
  }
  .laptop img{
    height: 30px;
    position: absolute;
    left: -110px;
    top: -147px;
  }
  .earth img{
    height: 30px;
    position: absolute;
    left: -152px;
    top: -146px;
  }
  .ball img{
    height: 30px;
    position: absolute;
    left: -197px;
    top: -157px;
  }
  .starter {
    position: absolute;
    font-size: 10px;
    left: 30px;
    top: 170px;
  }
  .aboutme {
    position: absolute;
    font-size: 10px;
    left: 30px;
    top: 170px;
  }
  .study {
    position: absolute;
    font-size: 10px;
    left: 30px;
    top: 170px;
  }
  .care {
    position: absolute;
    font-size: 10px;
    left: 30px;
    top: 170px;
  }
  .sport {
    position: absolute;
    font-size: 10px;
    left: 30px;
    top: 170px;
  }
  .starterimage img {
    height: 300px;
    width: 360px;
  }
  .starterimage {
    position: absolute;
    left: 0px;
    top: 355px;
  }
  .aboutmeimage img{
    height: 300px;
    width: 360px;
  }
  .aboutmeimage {
    position: absolute;
    left: 0px;
    top: 355px;
  }
  .careimage img{
    height: 300px;
    width: 360px;
  }
  .careimage {
    position: absolute;
    left: 0px;
    top: 355px;
  }
  .studyimage img{
    height: 300px;
    width: 360px;
  }
  .studyimage {
    position: absolute;
    left: 0px;
    top: 355px;
  }
  .sportimage img{
    height: 300px;
    width: 360px;
  }
  .sportimage {
    position: absolute;
    left: 0px;
    top: 355px;
  }
  .dropdown {
    position: absolute;
    top: 16px;
    left: 80%;
    height:28px;
    z-index: 2;
    display: block;
  }	

}
