body {
  margin: 0;
 /* background-color: #DAD2E3;*/
  margin-right: 0px;
}

#nav-bar {
  width: 1370px;
  height: 85px;
  top: 0px;
  background:#43464b;
  position: fixed;
  z-index: 2;
  animation-name: fadeIn;
  animation-duration: 1.3s;
  animation-timing-function: ease-in;
}

.tab{
  display: inline-block;
  padding: 30px;
  border-radius: 20%;
  font-weight: bold;
  font-family: "Bodoni MT";
  font-size: 20px;
  float: right;
  color: #FDDCD7;
}

.tab:hover {
  cursor: pointer;
  animation-name: superbounce;
  animation-duration: .5s;
  animation-iteration-count: infinite;
}


.jlogo {
  padding: 20px;
  float: left;
}

.jlogo:hover{
  animation-name: fadeIn;
  animation-duration: 1.5s;
  cursor: pointer;
}

.page {
  font-family: "Bodoni MT";
  font-size: 25px;
  font-weight: bold;
  text-decoration: underline;
  font-style: italic;
}

#title {
  position: absolute;
  left: 480px;
  top: 150px;
}

.bamboo{
  position: absolute;
  padding: 50px;
  top: 150px;
  left:80px;
}

.busan{
  position: absolute;
  left: 430px;
  top: 200px;
}

.shrine{
  position: absolute;
  left: 130px;
  top: 500px;
}

.jeju{
  position: absolute;
  padding-bottom: 50px;
  left: 130px;
  top: 800px;
}

.view{
  position: absolute;
  left: 430px;
  top: 720px;
}

.home{
  position: absolute;
  left: 950px;
  top: 200px;
}

.la{
  position: absolute;
  left: 950px;
  top:450px;
}

.light{
  position: absolute;
  left: 950px;
  top: 700px;
}

.downtown{
  position: absolute;
  left: 950px;
  top:950px;
}


.bamboo:hover{
  opacity: .5;
}

.busan:hover{
  opacity: .5;
}

.shrine:hover{
opacity: .5;
}

.jeju:hover{
opacity: .5;
}

.view:hover{
opacity: .5;
}

.home:hover{
opacity: .5;
}

.la:hover{
opacity: .5;
}

.light:hover{
opacity: .5;
}

.downtown:hover{
opacity: .5;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes superbounce {
  0%   { transform: translateY(0px); }
    10%   { transform: translateY(2px); }
    20%  { transform: translateY(4px); }
    30%  { transform: translateY(6px); }
    40%  { transform: translateY(8px); }
    50%  { transform: translateY(10px); }
    60% { transform: translateY(8px); }
    70%   { transform: translateY(6px); }
    80%  { transform: translateY(4px); }
    90%  { transform: translateY(2px); }
    100% { transform: translateY(0px); }
}

@media only screen and (max-width: 768px){
  #nav-bar {
    width: 400px;
    height: 55px;
  }
  .jlogo img{
    position: absolute;
    top: 12px;
    left: 6px;
    height:28px;
  }
  .tab {
    font-size: 6px;
    padding: 1px;
    padding-right: 40px;
    padding-top: 25px;
  }
}
