body {
  margin: 0;
 /* background-color: #DAD2E3;*/
  margin-right: 0px;
  height: 100%;
  width: 100%;
}

#nav-bar {
  width: 100%;
  height: 85px;
  background:#43464b;
  position: fixed;
  z-index: 2;
  animation-name: fadeIn;
  animation-duration: 1.3s;
  animation-timing-function: ease-in;
}

.tab{
  display: inline-block;
  padding: 30px;
  border-radius: 20%;
  font-weight: bold;
  font-family: "Bodoni MT";
  font-size: 20px;
  float: right;
  color: #FDDCD7;
}

.tab:hover {
  cursor: pointer;
  animation-name: superbounce;
  animation-duration: .5s;
  animation-iteration-count: infinite;
}


.jlogo {
  padding: 20px;
  float: left;
}

.jlogo:hover{
  animation-name: fadeIn;
  animation-duration: 1.5s;
  cursor: pointer;
}

.page {
  font-family: "Bodoni MT";
  font-size: 25px;
  font-weight: bold;
  text-decoration: underline;
  font-style: italic;
}

#title {
  position: absolute;
  left: 35%;
  bottom: 80%;
}

.bamboo{
  position: absolute;
  top: 26.5%;
  left:9.6%;
}

.busan{
  position: absolute;
  left: 31.85%;
  top: 26.5%;
}

.shrine{
  position: absolute;
  left: 9.6%;
  top: 66.3%;
}

.jeju{
  position: absolute;
  padding-bottom: 50px;
  left: 9.6%;
  top: 106%;
}

.view{
  position: absolute;
  left: 31.856%;
  top: 95.45%;
}

.home{
  position: absolute;
  left: 70.43%;
  top: 26.55%;
}

.la{
  position: absolute;
  left: 70.43%;
  top:59.7%;
}

.light{
  position: absolute;
  left: 70.415%;
  top: 92.82%;
}

.downtown{
  position: absolute;
  left: 70.4%;
  top:126%;
}


.bamboo:hover{
  opacity: .5;
}

.busan:hover{
  opacity: .5;
}

.shrine:hover{
opacity: .5;
}

.jeju:hover{
opacity: .5;
}

.view:hover{
opacity: .5;
}

.home:hover{
opacity: .5;
}

.la:hover{
opacity: .5;
}

.light:hover{
opacity: .5;
}

.downtown:hover{
opacity: .5;
}

// dropdown menu for mobile only

.dropbtn {
  background-color:#43464b;
  color: #FDDCD7;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: absolute;
  left: 300px;
  top: 16px;
  display: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #6699cc;
  min-width: 80px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 0;
}

.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #6699cc;}

// end mobile only stuff

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes superbounce {
  0%   { transform: translateY(0px); }
    10%   { transform: translateY(2px); }
    20%  { transform: translateY(4px); }
    30%  { transform: translateY(6px); }
    40%  { transform: translateY(8px); }
    50%  { transform: translateY(10px); }
    60% { transform: translateY(8px); }
    70%   { transform: translateY(6px); }
    80%  { transform: translateY(4px); }
    90%  { transform: translateY(2px); }
    100% { transform: translateY(0px); }
}

@media only screen and (max-width: 800px){
  body {
    position: fixed;
  }
  #nav-bar {
    width: 100%;
    height: 55px;
  }
  .jlogo img{
    position: absolute;
    top: 23%;
    left: 2.5%;
    height:55%;
  }
  .dropdown {
    position: absolute;
    left: 80%;
    top: 2%;
    z-index: 2;
    display: block;
  }
  .tab {
    font-size: 6px;
    padding: 1px;
    padding-right: 40px;
    padding-top: 25px;
    visibility: hidden;
  }
  #title {
    position: fixed;
    z-index: 4;
    left: 17%;
    top: 10%;
  }
  .page {
    font-size: 15px;
  }
  .bamboo img{
    position: fixed;
    top: 16%;
    left: 2%;
    height: 110px;
  }
  .busan img{
    position: fixed;
    left: 34%;
    top: 16%;
    height: 110px;
  }

  .shrine img{
    position: fixed;
    left: 2%;
    top: 34%;
    height: 110px;
  }

  .jeju img{
    position: fixed;
    left: 34%;
    top: 34%;
    height: 110px;
    width: 110px;
  }

  .view img{
    position: fixed;
    left: 66%;
    top: 34%;
    height: 110px;
    width: 110px
  }

  .home img{
    position: fixed;
    left: 66%;
    top: 16%;
    height: 110px;
  }

  .la img{
    position: fixed;
    left: 2%;
    top:52%;
    height: 110px;
  }

  .light img{
    position: fixed;
    left: 34%;
    top: 52% ;
    height: 110px;
  }
  .downtown img{
    position: fixed;
    left: 66%;
    top:52%;
    height: 110px;
  }
}
