body {
  margin: 0;
 /* background-color: #DAD2E3;*/
  margin-right: 0px;
}

#nav-bar {
  width: 1370px;
  height: 85px;
  top: 0px;
  background:#43464b;
  position: fixed;
  z-index: 2;
  animation-name: fadeIn;
  animation-duration: 1.3s;
  animation-timing-function: ease-in;
}

.tab{
  display: inline-block;
  padding: 30px;
  border-radius: 20%;
  font-weight: bold;
  font-family: "Bodoni MT";
  font-size: 20px;
  float: right;
  color: #FDDCD7;
}

.tab:hover {
  cursor: pointer;
  animation-name: superbounce;
  animation-duration: .5s;
  animation-iteration-count: infinite;
}


.jlogo {
  padding: 20px;
  float: left;
}

.jlogo:hover{
  animation-name: fadeIn;
  animation-duration: 1.5s;
  cursor: pointer;
}

#title{
  position: absolute;
  left: 600px;
  top:160px;
  font-family: "Bodoni MT";
  font-weight: bold;
  font-size: 25px;
}

#wow{
  position: absolute;
  right: 200px;
  top: 200px;
  font-family: "Bodoni MT";
  font-size: 25px;
}

#email{
  position: absolute;
  left: 620px;
  top: 350px;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes superbounce {
  0%   { transform: translateY(0px); }
    10%   { transform: translateY(2px); }
    20%  { transform: translateY(4px); }
    30%  { transform: translateY(6px); }
    40%  { transform: translateY(8px); }
    50%  { transform: translateY(10px); }
    60% { transform: translateY(8px); }
    70%   { transform: translateY(6px); }
    80%  { transform: translateY(4px); }
    90%  { transform: translateY(2px); }
    100% { transform: translateY(0px); }
}

@media only screen and (max-width: 768px){
  #nav-bar {
    width: 440px;
    height: 55px;
  }
  .jlogo img{
    position: absolute;
    top: 12px;
    left: 6px;
    height:28px;
  }
  .tab {
    font-size: 6px;
    padding: 1px;
    padding-right: 40px;
    padding-top: 25px;
  }
  #title {
    position: absolute;
    left: 100px;
  }
  #wow {
    position: absolute;
    left: 50px;
}
